@page
@model IndexModel
@{
    ViewData[Constants.PageTitle] = "Home";
}

@if (Model.IsLoggedIn)
{
    <div class="panel-tools">
        <form method="post">
            <input type="text" required="required" name="albumName" />
            <button asp-page-handler="CreateAlbum">@Model.CreateAlbumButtonText</button>
        </form>
    </div>
}

<div class="albums">
    @foreach (var albumDay in Model.AlbumDays)
    {
    <div class="album-day">
        <div class="album-day-title">@albumDay.Key.ToString("yyyy-MM-dd")</div>
        @foreach (var album in albumDay.Value)
        {
            <div class="album-day-box-title">@album.Name</div>
            <div class="album-day-box">
                @if (album.HasUploadImages)
                {
                    foreach (var uploadImage in album.UploadImages)
                    {
                        <a class="upload-image" href="/images/@uploadImage.Value.UriPath" target="@uploadImage.Value.ProcessedFileName">>
                            <img class="upload-image-icon" src="/images/@uploadImage.Value.IconUriPath" alt="@uploadImage.Value.ProcessedFileName" />
                        </a>
                    }
                }
             </div>
        }
    </div>
    }
</div>

@section PageHeader
{
    <a class="header-link" href="/">@T.GetMap(Model.PageName)</a>
}