@page
@model IndexModel
@{
    ViewData[Constants.PageTitle] = "Home";
}

@if (Model.IsLoggedIn)
{
    <div class="panel-tools">
        <form method="post">
            <input type="text" required="required" name="albumName" />
            <button asp-page-handler="CreateAlbum">@Model.CreateAlbumButtonText</button>
        </form>
    </div>
}

<div class="albums">
    @foreach (var album in Model.Albums)
    {
        <div class="album-block">
            <a class="album-title" href="album/@album.Name" target="album.Name">@album.Name</a>
            <a class="album-icons" href="album/@album.Name" target="album.Name">
                @foreach (var entry in album.SelectedImagesForAlbumIcons)
                {
                    <div>@entry.Key</div>
                    foreach (var uploadImage in entry.Value)
                    {
                        <img class="upload-image-icon" src="/images/@uploadImage.IconUriPath" alt="@uploadImage.ProcessedFileName" />
                    }
                }
            </a>
            <div class="album-info">
                @album.InfoDisplay &nbsp;
                @*@if (Model.IsLoggedIn)
                    {
                        <button>Delete</button>
                    }*@
            </div>
        </div>
    }
</div>

@section PageHeader
{
    <a class="header-link" href="/">@T.GetMap(Model.PageName)</a>
}