@page
@model IndexModel
@{
    ViewData[Constants.PageTitle] = "Home";
}

@if (Model.IsLoggedIn)
{
    <div class="panel-tools">
        <form method="post">
            <input type="text" required="required" name="albumName" />
            <button asp-page-handler="CreateAlbum">@Model.CreateAlbumButtonText</button>
        </form>
    </div>
}

<div class="albums">
    @foreach (var album in Model.Albums)
    {
        <a class="album-block" href="album/@album.Name" title="@album.Description">
            <img class="album-thumb" src="/images/@album.ThumbnailUriPath" alt="@album.Name" />
            <div class="album-title">@album.Name</div>
        </a>
    }
</div>

@section PageHeader
{
    <a class="header-link" href="/">@T.GetMap(Model.PageName)</a>
}